<html lang="en"><head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet'>



</head>


<body>
<!-- parallax- body_background -->
<script>

function body_parallax_element( selector, context ) {
    context = context || document;
    var elements = context.querySelectorAll( selector );
    return Array.prototype.slice.call( elements );
}

window.addEventListener( "scroll", function() {
    var scrolledHeight= window.pageYOffset;
    body_parallax_element( "body" ).forEach( function( el, index, array ) {
        var limit = el.offsetTop + el.offsetHeight;
        if( scrolledHeight > el.offsetTop && scrolledHeight <= limit ) {
            el.style.backgroundPositionY = ( scrolledHeight - el.offsetTop ) / 2 + "px";
        } else {
            el.style.backgroundPositionY = "0";
        }
    });
});

</script>

<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <div class="container">
      <div class="row">
          <div class="profileImage">
              <img src="{{ personelInf.p_picture.url }}" alt="my_Profile_Pic">
          </div>
      </div>
  </div>

    <div id="sideMenuCards" class="container">
        <div class="row">
            <a href="#">
            <div class="card">
                <div class="card-header">
                    Hakkımda
                </div>
            </div>
                </a>
        </div>

        <div class="row">
            <a href="#">
            <div class="card">
                <div class="card-header">
                    Yetkinliklerim
                </div>
            </div>
            </a>
        </div>

        <div class="row">
            <a href="#">
            <div class="card">
                <div class="card-header">
                    Projelerim
                </div>
            </div>
            </a>
        </div>

        <div class="row">
            <a href="#">
            <div class="card">
                <div class="card-header">
                    Sosyal Medya Hesaplarım
                </div>
            </div>
            </a>
        </div>

        <div class="row">
            <a href="#">
            <div class="card">
                <div class="card-header">
                    Aldığım Kurslar
                </div>
            </div>
            </a>
        </div>

        <div class="row">
            <a href="#">
            <div class="card">
                <div class="card-header">
                    Aldığım Sertifikalar
                </div>
            </div>
            </a>
        </div>
    </div>

    <div class="poweredByMe">
        <p>Copyright © 2022 A. Tarık BOZKURT</p>
    </div>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">




      <div class="row" >
        <div id="about_me_Education" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h5>Merhaba ben {{ personelInf.p_name }} {{ personelInf.p_surname }};</h5>
            <p>{{ personelInf.p_about}}</p>
        </div>
         <div id="about_me_Education" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="container">
                <h5>Education</h5>
                <div class="table-reponsive">
                    <table class="table-style">
                          {% for educate in my_educations %}
                               <thead id="eduTableTh">
                                   <tr>
                                       <th>Üniversite Adı </th>
                                       <th >Başlangıç / Bitiş </th>
                                   </tr>
                               </thead>
                              <tbody id="eduTableTb">
                                      <tr>
                                        <td>
                                            {{ educate.edu_name }}
                                        </td>
                                      <td>
                                          {{ educate.edu_start_date|date:"M d, Y" }} /  {{ educate.edu_ended_date|date:"M d, Y" }}
                                      </td>
                                      </tr>
                                </tbody>
                          {% endfor %}
                    </table>
                </div>
          </div>
        </div>

  </div>

      <div class="row" >
        <div id="my_experiences" class="col-lg-12 col-md-12 col-sm-12">
            <div class="container">
            <h3 style="color:maroon;text-align: center;margin-top:20px;"> İş Deneyimlerim </h3>
                <div class="row" style="margin-bottom: 20px;justify-content: center;">
                <hr size="8" width="90%" color="red">
                    {% for experience in my_Job_Experiences %}
                    <div id="my_experience_job_for_loop"class="col-md-4">
                        <div class="my_jobTitle">
                            <h5><b>{{ experience.company_name }}</b></h5>
                        </div>
                        <div class="my_Job_position:"><p>{{ experience.job_position }}</p></div>

                        <div class="my_job_description"><p>{{ experience.job_description }}</p></div>

                       <div class="my_job-start">Başlangıç: {{ experience.job_start_date }}</div>
                    <div class="my_job-end">Bitiş: {{ experience.job_end_date }}</div>

                    </div>

                    {% endfor %}
                <hr size="8" width="90%" color="red">
                </div>
            </div>
        </div>
      </div>

      <div class="row" >
        <div id="my_Educations" class="col-lg-12 col-md-12 col-sm-12">
            <p>Burası lisanslar Ve Sertifikalar</p>
        </div>
      </div>

      <div class="row" >
        <div id="my_Certifications" class="col-lg-12 col-md-12 col-sm-12">
            <p>Burası Yetkinliklerim </p>
        </div>
      </div>

      <div class="row" >
            <div id="my_Certifications" class="col-lg-12 col-md-12 col-sm-12">
                <p>Burası Sosyal Medya Hesaplarım </p>
            </div>
      </div>







</div>
<!-- End demo content -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body></html>